table, th, td{
    border:1px none #c94f90;
}
table{
    border-collapse:collapse;
}
tr:hover{
  background-color:#abd4e94f;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
body {
    background-image: url('https://i.pinimg.com/736x/6c/60/a2/6c60a25d4b7af4c9d71974d5891cd6aa.jpg');
  }  
 
body {
    font-family:serif;
    font-size: 19pt;
    line-height:1.5;
    text-align: justify;
  }
 h1.chao{
  text-align: center;
  color: #053971;
  font-size: 60px;
 } 
a{
  color: #053971;
} 



